<h1>Bills</h1>
<div id="show_bills_container" class="round">
	<% @bills.each do |bill| %>
		<% date_of_bill = Date.new(bill.year.to_i, bill.month.to_i, bill.day.to_i) %>

	  <div id="bill_<%= bill.id -%>" class="ind_bill">
			<div class="bill_options">
				<ul>
					<li><%= link_to image_tag('icons/edit.png', :class => "icon"), edit_bill_path(bill) %></li>
					<li><%= link_to image_tag('icons/red-x.png', :class => "icon"), bill, :confirm => 'Are you sure?', :method => :delete %></li>
				</ul>
			</div>
			<div class="bill_date fleft">
				<%= date_of_bill.to_s(:humanize_date) %>
			</div>
			<div class="bill_name fleft">
				<% link_to bill do %>
					<%= h bill.name.titleize %>
				<% end %>
			</div>
			<div class="bill_amount">
				$<%= h bill.amount %>
			</div>

		</div>
	<% end %>
</div>

<%= link_to 'New bill', new_bill_path %>

