<p>
  <b>Name:</b>
  <%=h @bill.name.titleize %>
</p>

<p>
  <b>Frequency:</b>
  <%=h @bill.frequency.titleize %>
</p>

<p>
	<b>Dates</b>
	<!-- date code here -->
</p>

<p>
  <b>Amount:</b>
  <%=h @bill.amount %>
</p>


<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>

