<div id="header">
	<%= link_to logo, root_path %>
	<ul class="navigation round">
		<li><%= link_to "Home", root_path %></li>
		<% if signed_in? %>
			<% if current_user.admin? %>
				<li><%= link_to "Users", users_path %></li>
			<% end %>
			<li><%= link_to "Profile", current_user %></li>
			<li><%= link_to "Settings", edit_user_path(current_user) %></li>
			<li><%= link_to "New Bill", new_bill_path %></li>
		<% end %>
		<li><%= link_to "Help", help_path %></li>
		<li>
			<% if signed_in? %>
				<%= link_to "Sign Out", signout_path, :method => :delete %>
			<% else %>
				<%= link_to "Sign In", signin_path %>
			<% end %>
		</li>
	</ul>
</div>

